.modalMovie {
	background: #000;
	width: 230px;
	height: 345px;
	margin-bottom: 50px;
	border-radius: 10px;
	cursor: pointer;
    z-index: 100;
	&__img {
		border-radius: 10px;
		width: 100%;
		transition: 0.5s;
		&:hover {
			box-shadow: #00ffc4 0px 0px 10px;
		}
	}
}
.tooltipModal {
	margin-top: 100px;
    margin-left: -50px;
    padding: 10px;
    width: 200px;
	border-radius: 5px;
    background: red;
}
