.header {
	padding: 20px 70px;
	background: #0c2738e4;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	transition: 0.5s;
	.nav-menu {
		width: 40%;
		display: flex;
		justify-content: space-between;
		.textCl {
			padding: 10px 18px;
			color: #3d6888;
			border-radius: 4px;
			&:hover {
				color: #00ffc4;
				transition: 0.3s;
			}
		}
		.active {
			background: #254258;
			color: #00ffc4;
		}
	}
}
.none {
	height: 0;
	opacity: 0;
}
